<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/delete.css">
    <title>Document</title>
</head>
<body>
    <h3>Are You Sure You Want To Delete?</h3>
    <form action="/campground/<%= id %>/delete?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>
</body>
</html>
